* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.App {
  width: 800px;
}

.task {
  display: flex;
  padding: 15px;
  border: 2px solid teal;
  margin-top: 15px;
  justify-content: space-between;
  align-items: center;
  font-size: 30px;
}

#root {
  display: flex;
  justify-content: center;
}
.title {
  text-align: center;
  font-size: 50px;
}
.input_form {
  display: flex;
  padding: 15px;
  margin: 10px;
  font-size: 20px;
}
.myBtn {
  padding: 5px 15px;
  color: teal;
  font-size: 14px;
  background: transparent;
  border: 1px solid teal;
  cursor: pointer;
}
